/* Fonctionnements Global */

html,
body {
    width: 100%;
    margin: 0;
    font-size: 16px;
}

body * {
    box-sizing: border-box;
}

/* Mise en page */

h1 {
    font: 84px "volkhov-bold";
    color: #fff;
}

h2 {
    font: 50px "volkhov-bold";
    color: #14183e;
    margin-top: 10px;
}

h3 {
    font: 20px "poppins-bold";
    color: #fff;
}

h4 {
    font: 18px "poppins-regular";
    font-weight: 600;
    color: #5e6282;
    margin-bottom: 10px;
}

h5 {
    font: 500 16px/30px "poppins-regular";
    color: #fff;
}

.texte-couleur-saumon {
    color: #df6951;
}

.texte-couleur-gris-1 {
    color: #bfc0cd;
}

.texte-couleur-gris-2 {
    color: #8d8d8d;
}

.texte-couleur-gris-3 {
    color: #3e3f43;
}

.texte-couleur-gris-bleu {
    color: #5e6282;
}

.texte-couleur-bleu {
    color: #1e1d4c;
}

.texte-couleur-sombre {
    color: #22232c;
}

.texte-couleur-noir {
    color: #000;
}

figcaption {
    color: #5e6282;
}

button {
    color: #fff;
}

.texte-poppins-bold {
    font-family: "poppins-bold";
}

.texte-volkhov-bold {
    font-family: "volkhov-bold";
}

p,
figcaption,
tr,
th,
td,
button,
a,
label,
input {
    font-family: "poppins-regular";
    font-weight: 500;
    font-style: normal;
    text-align: left;
}

/* Remplacement des comportements d'origine */

header nav ul .menu-bouton a,
#footer-plan a,
.card figcaption a {
    text-decoration: none;
    color: inherit;
}

header nav ul .menu-bouton a:hover,
#footer-plan a:hover,
.card figcaption a:hover {
    text-decoration: underline;
}

/* Fonctionnements réutilisables */

/* Logo jadoo */

.logo {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.logo img {
    max-height: 100%;
}

.logo img:first-child {
    margin-right: 20px;
}

.logo:hover img:first-child {
    animation: logo-animation 0.5s ease-in;
    margin-right: 20px;
}

@keyframes logo-animation {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* Conteneur des élements */

.conteneur-elements {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

/* Liste des arguments du site */

.conteneur-arguments,
.argument {
    display: block;
}

.conteneur-arguments {
    margin-bottom: 50px;
}

.conteneur-arguments a {
    text-decoration: none;
}

.conteneur-arguments figure {
    margin: 0;
}

.conteneur-arguments .argument {
    white-space: nowrap;
}

.conteneur-arguments .argument:not(:last-child) {
    margin-bottom: 40px;
}

.conteneur-arguments .argument img,
.conteneur-arguments .argument figcaption {
    display: inline-block;
    vertical-align: middle;
}

.conteneur-arguments .argument figcaption {
    margin: 0 0 0 20px;
    padding: 0 60px 0 0;
}

.conteneur-arguments .argument figcaption p {
    margin: 0;
    white-space: normal;
}

.conteneur-arguments .argument figcaption p:not(:last-child) {
    margin-bottom: 10px;
}

.conteneur-arguments .argument img {
    width: 60px;
    height: 60px;
}

/* Soulignage à positionner sur un texte */

.souligne-texte-rose {
    background: url("../img/souligne_rose.svg") no-repeat;
}

/* Bouton site */

.bouton {
    font: 18px Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.bouton > * {
    display: inline-block;
    vertical-align: middle;
}

.bouton > *:not(:last-child) {
    margin: 0 10px 0 0;
}

.bouton:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.bouton.vert {
    background-color: #0aa005;
    box-shadow: 0px 20px 35px 5px rgba(17, 59, 11, 0.15);
}

.bouton.bleu {
    background-color: #007aff;
    box-shadow: 0px 20px 35px 5px rgba(11, 54, 59, 0.15);
}

.bouton.jaune {
    background-color: #f1a501;
    box-shadow: 0px 20px 35px 5px rgba(241, 165, 1, 0.15);
}

/* Affichage des cartes */

.conteneur-carte.conteneur-carte-ligne {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carte {
    position: relative;
    vertical-align: top;
    width: 320px;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
}

.carte::after {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 100%;
    top: 0;
    left: 20px;
    z-index: 1;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0px 4px 32px 5px rgba(0, 0, 0, 0.05);
}

.carte img {
    max-width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.carte figure {
    position: relative;
    z-index: 2;
    margin: 0;
    border-radius: 24px;
}

.carte figcaption {
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    padding: 20px;
}

.carte figcaption p {
    font-size: 16px;
    text-align: center;
}

.carte figcaption p:first-child {
    font-family: "open-sans-regular";
    font-weight: 600;
    font-size: 20px;
}

/* Gestion des illustrations interpage */

.conteneur-illustrations {
    position: absolute;
    height: 652px;
    width: 100%;
    z-index: 1;
    left: 0;
    bottom: -326px;
    white-space: nowrap;
    overflow: hidden;
}

.conteneur-illustrations figure {
    display: inline-block;
    margin: 0;
    width: 500px;
    height: 100%;
}

.conteneur-illustrations .mobile-illustration {
    display: none;
}

.conteneur-illustrations figure img {
    width: 100%;
    height: 100%;
}

/* Formulaire */

.conteneur-form {
    display: table;
    width: 100%;
    box-shadow: 0px 4px 61px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    max-width: 1020px;
    margin: auto;
}

.conteneur-form h5 {
    font-size: 14px;
    line-height: 19px;
}

.form-droite,
.form-gauche {
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: top;
    text-align: left;
}

.form-gauche {
    padding: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.form-gauche form {
    text-align: center;
}

.form-droite {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.formulaire-deux-champs-inline .formulaire-contact-champ {
    display: inline-block;
    width: 50%;
}

.formulaire-deux-champs-inline .formulaire-contact-champ:not(:last-child) {
    padding: 0 15px 0 0;
}

.formulaire-contact-champ {
    margin: 0 0 30px;
}

.formulaire-contact-champ label,
.formulaire-contact-champ input {
    display: block;
    font-size: 15px;
}

.formulaire-contact-champ input {
    margin: 0;
    padding: 0 0 5px;
    color: #989898;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e2e4e5;
    outline: 0;
    font-size: 13px;
    transition: transform 0.2s;
}

.formulaire-contact-champ:hover input {
    transform: scale(1.02);
}

.formulaire-contact-champ input:focus {
    margin: 0 0 -5px;
    padding: 0 0 10px;
    border-bottom-color: #007aff;
    transform: scale(1);
}

.formulaire-contact-champ label {
    margin: 0 0 12px;
}

.formulaire-boutton-envoyer {
    margin: 50px 0 0;
    border-radius: 4px;
}

/* --------------- */
/* Cas spécifiques */
/* --------------- */

/* Affichage des maki */

#conteneur-maki .carte {
    width: 267px;
}

#conteneur-maki .carte:not(:hover) {
    box-shadow: none;
    background-color: transparent;
}

#conteneur-maki .carte::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -35px;
    left: -35px;
    opacity: 0;
    background: url("../img/decoration_rose.svg") no-repeat;
    background-size: cover;
    transform: rotate(-45deg);
    transition: opacity 0.5s, transform 0.5s;
    transition-delay: 0s;
}

#conteneur-maki .carte:hover::before {
    transform: rotate(0deg);
    opacity: 1;
    transition-delay: 0.2s;
}

#conteneur-maki .carte::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    background-color: #fff;
    border-radius: 24px;
    transition: opacity 0.3s;
    transition-delay: 0.3s;
}

#conteneur-maki .carte:hover::after {
    opacity: 1;
    transition-delay: 0s;
}

/* Contenu */

/* CSS contenu commun */

/* Utilisé pour l'effet parallax */

main {
    height: 100vh;
    perspective: 2px;
    overflow-x: hidden;
}

section {
    transition: all 0.2s ease-in-out;
    position: relative;
    padding: 100px 8% 100px 8%;
    overflow: hidden;
}

section::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -4px;
    /* Utilisé pour l'effet parallax */
    transform: translateZ(-1px) scale(1.5);
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

section article {
    max-width: 565px;
}

section article h5 {
    max-width: 460px;
}

/* CSS en-tête */

header {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 70px;
    position: sticky;
    z-index: 5;
    top: 0;
    padding: 20px 0;
    transition: all 0.2s ease-in-out;
}

header nav {
    height: 100%;
    margin-right: 8%;
    transition: all 0.2s ease-in-out;
}

header nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    list-style-type: none;
}

header .logo {
    margin-left: 8%;
    margin-right: auto;
    transition: all 0.2s ease-in-out;
}

header nav ul li a {
    color: #212832;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

header nav ul li:not(:last-child) {
    margin-right: 30px;
}

header .burger {
    display: none;
}

/* CSS spécifique à la section 1 */

#section-1::after {
    background: url("../img/illustration_principale.jpg") no-repeat;
    background-size: cover;
}

#section-1 .souligne-texte-rose {
    margin: 40px 0 20px;
    background-position: 10px 95%;
    transition: background-position 0.2s ease-in-out;
}

/* CSS spécifique à la section 2 */

#section-2 {
    display: block;
    text-align: center;
    background: url("../img/decor_1.svg") no-repeat #ffffff;
    background-position: 98% 2%;
}

#section-2 .conteneur-titres {
    display: block;
}

#section-2 .conteneur-elements {
    justify-content: center;
}

#section-2 .conteneur-carte {
    margin: 0 0 50px;
}

#section-2 .carte {
    margin-bottom: 50px;
}

#section-2 #conteneur-nouveautes .carte:last-child::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: -10px;
    bottom: 0;
    background: url("../img/decoration_filet.svg") no-repeat;
    background-position: 100% 80%;
}

/* CSS spécifique à la section 3 */

#section-3 {
    padding-bottom: 426px;
    overflow: visible;
}

#section-3::after {
    background: url("../img/illustration_chef.jpg") no-repeat;
    background-size: cover;
}

#section-3 .souligne-texte-rose {
    margin: 100px 0 40px;
    background-position: -5px 18%;
}

#section-3 article {
    max-width: 650px;
}

#section-3 .conteneur-video {
    display: flex;
    position: relative;
    width: 305px;
    height: 164px;
    border-radius: 15px;
}

#section-3 .video-lecture-bouton {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    width: 77px;
    height: 77px;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

#section-3 .video-lecture-bouton img {
    margin: auto;
}

#section-3 .video-lecture-bouton:hover img {
    opacity: 0.9;
}

#section-3 .conteneur-video > img {
    max-width: 100%;
    border-radius: 15px;
}

/* CSS spécifique à la section 4 */

#section-4 {
    padding-top: 426px;
}

#section-4::after {
    background: url("../img/illustration_commander.jpg") no-repeat;
    background-size: cover;
}

#section-4 article {
    max-width: 390px;
}

/* CSS spécifique à la section 5 */

#section-5 {
    text-align: center;
    background-color: #ffffff;
}

#section-5 h5 {
    line-height: 20px;
}

#section-5 .form-droite {
    background: url("../img/illustration_formulaire.jpg") no-repeat;
    background-size: cover;
}

/* CSS pied de page */

footer {
    background-color: #f3f3f3;
    padding: 70px 8% 20px;
}

footer > p {
    font-size: 14px;
}

footer section {
    padding: 0;
}

footer .copyright {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

footer .footer-part {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
}

footer p {
    font-size: 18px;
    line-height: 147.5%;
}

#footer-logo .logo {
    display: block;
    height: auto;
}

#footer-logo .logo img {
    height: 50px;
}

#footer-plan div {
    display: inline-block;
    vertical-align: top;
}

#footer-plan p {
    margin: 0;
}

#footer-plan p:not(:last-child) {
    margin: 0 0 10px;
}

#footer-plan .plan-title:not(:last-child) {
    margin: 0 0 20px;
}

#footer-plan .plan-title {
    font-size: 21px;
}

#footer-plan div:not(:last-child) {
    margin: 0 50px 0 0;
}

#footer-uberEats .logo-ubereat {
    height: 30px;
}

#footer-uberEats p {
    margin: 10px 0 30px;
}

#footer-uberEats .app-download-button {
    background-color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 10px;
}

#footer-uberEats .app-download-button img {
    margin: 0 10px 0 0;
}

#footer-uberEats .app-download-button * {
    display: inline-block;
    vertical-align: middle;
}

/* Responsive */

/* Ordinateur */

@media (max-width: 1600px) {
    #section-3::after {
        background-position-x: 40%;
    }
}

@media (max-width: 1200px) {
    #section-3::after {
        background-position-x: 50%;
    }
}

/* Tablette */

@media (max-width: 768px) {
    #section-2 {
        background: #ffffff;
    }
}

@media (max-width: 1024px) {
    html,
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 74px;
    }

    h2 {
        font-size: 40px;
    }

    header nav ul li {
        display: none;
    }

    header .logo {
        margin-left: 5%;
    }

    header nav {
        margin-right: 5%;
    }

    header .burger {
        display: inline-block;
        vertical-align: middle;
    }

    footer,
    section {
        padding-left: 5%;
        padding-right: 5%;
    }

    footer .footer-part,
    footer .footer-part * {
        text-align: center;
    }

    footer #footer-plan.footer-part * {
        text-align: left;
    }

    #section-1 .souligne-texte-rose {
        background-position: 0px 95%;
    }
}

/* Mobile */

@media (max-width: 656px) {
    h1 {
        font-size: 45px;
    }

    .conteneur-illustrations {
        position: relative;
        height: auto;
        width: 100%;
        z-index: initial;
        left: initial;
        bottom: initial;
    }

    .conteneur-illustrations .mobile-illustration,
    .conteneur-illustrations figure {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .conteneur-illustrations figure img {
        max-width: 100%;
        max-height: 100%;
    }

    .conteneur-arguments {
        text-align: left;
    }

    .conteneur-form {
        box-shadow: none;
    }

    .form-droite {
        display: none;
    }

    .form-gauche {
        width: 100%;
        padding: 0;
    }

    .form-gauche h4,
    .form-gauche h5 {
        text-align: center;
    }

    .formulaire-deux-champs-inline .formulaire-contact-champ {
        display: block;
        width: 100%;
    }

    .formulaire-deux-champs-inline .formulaire-contact-champ:not(:last-child) {
        padding: 0;
    }

    footer,
    section,
    #section-4 {
        padding-top: 8%;
        padding-bottom: 8%;
    }

    section article {
        width: 100%;
        text-align: center;
        max-width: initial;
    }

    #section-4 article,
    section article h5 {
        max-width: initial;
    }

    #section-1 .souligne-texte-rose {
        background-position: 55% 95%;
        background-size: 55%;
    }

    #section-3 {
        padding: 0;
    }

    #section-3 .souligne-texte-rose {
        background-position: 35% 18%;
    }

    #section-3 .conteneur-video {
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    #section-3 .conteneur-video > img {
        flex: 1;
        max-width: 100%;
        border-radius: 0;
    }

    #section-3 .video-lecture-bouton {
        width: 20vw;
        height: 20vw;
    }

    #section-3 .video-lecture-bouton > img {
        width: 18vw;
        height: 18vw;
    }

    #section-3 article {
        display: none;
    }

    #section-3::after,
    #section-4::after {
        background: #ffffff;
    }
    #section-4 .conteneur-elements {
        justify-content: center;
    }

    #conteneur-nouveautes {
        height: 500px;
    }

    #conteneur-nouveautes .conteneur-carte {
        position: relative;
        height: 100%;
        margin: 0;
    }

    #conteneur-nouveautes .carte {
        position: absolute;
        opacity: 0;
        margin: 0;
    }

    #conteneur-nouveautes .carte::before {
        display: none;
    }

    #conteneur-nouveautes .carte:nth-child(1) {
        animation: animation-carte-1 19.5s 0s infinite;
    }

    #conteneur-nouveautes .carte:nth-child(2) {
        animation: animation-carte-2 19.5s 0s infinite;
    }

    #conteneur-nouveautes .carte:nth-child(3) {
        animation: animation-carte-3 19.5s 0s infinite;
    }

    #conteneur-maki .conteneur-carte {
        display: block;
    }

    #conteneur-maki .carte {
        display: block;
        width: auto;
        margin: 0;
        padding: 0;
    }

    #conteneur-maki .carte:not(:last-child) {
        margin-bottom: 20px;
    }

    #conteneur-maki .carte figure figcaption,
    #conteneur-maki .carte figure {
        display: flex;
        align-items: center;
    }

    #conteneur-maki .carte figure figcaption,
    #conteneur-maki .carte figure figcaption p {
        text-align: left;
    }

    #conteneur-maki .carte figure figcaption {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }

    #conteneur-maki .carte figure figcaption p {
        margin: 0;
    }

    #conteneur-maki .carte figure figcaption p:first-child {
        font-size: 18px;
        margin-bottom: 10px;
    }

    #conteneur-maki .carte figure img {
        max-width: 110px;
        max-height: 110px;
    }

    #conteneur-maki .carte::before,
    #conteneur-maki .carte::after {
        display: none;
    }

    @keyframes animation-carte-1 {
        0% {
            opacity: 0;
            transform: translateX(50%);
        }

        2.25% {
            opacity: 1;
            transform: translateX(0);
        }

        33% {
            opacity: 1;
            transform: translateX(0);
        }

        35.25% {
            opacity: 0;
            transform: translateX(-50%);
        }

        100% {
            opacity: 0;
            transform: translateX(-50%);
        }
    }

    @keyframes animation-carte-2 {
        0% {
            opacity: 0;
            transform: translateX(50%);
        }

        35.25% {
            opacity: 0;
            transform: translateX(50%);
        }

        37.5% {
            opacity: 1;
            transform: translateX(0);
        }

        66% {
            opacity: 1;
            transform: translateX(0);
        }

        68.25% {
            opacity: 0;
            transform: translateX(-50%);
        }

        100% {
            opacity: 0;
            transform: translateX(-50%);
        }
    }

    @keyframes animation-carte-3 {
        0% {
            opacity: 0;
            transform: translateX(50%);
        }

        68.25% {
            opacity: 0;
            transform: translateX(50%);
        }

        70.5% {
            opacity: 1;
            transform: translateX(0);
        }

        97.75% {
            opacity: 1;
            transform: translateX(0);
        }

        100% {
            opacity: 0;
            transform: translateX(-50%);
        }
    }
}
